In [80]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

Прочитайте дані за допомогою методу read_html з таблиці "Коефіцієнт народжуваності в регіонах України (1950—2019)" посилання

In [81]:
data = sns.load_dataset("mpg")
url = 'https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8'

table = pd.read_html(url, match='Коефіцієнт народжуваності в регіонах України')[0]
table

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126    —    —
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82    —
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51    —
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120    —    —
27            Україна  228.0  205.0  152.0   126    78   114  111   81



*   Вивести перші рядки таблиці за допомогою методу head

In [82]:
table.head()

             Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0              Крим  230.0  206.0  160.0   130    73   126    —    —
1         Вінницька  224.0  192.0  142.0   124    84   112  109   76
2         Волинська  247.0  250.0  179.0   153   112   148  141  101
3  Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4          Донецька  271.0  214.0  140.0   109    61    98   82    —



*   Визначте кількість рядків та стовпців у датафреймі (атрибут shape)

In [83]:
table.shape

(28, 9)

*   Замініть у таблиці значення "—" на значення NaN

In [84]:
table.replace('—', pd.NA, inplace=True)
table

               Регіон   1950   1960   1970  1990  2000  2012  2014  2019
0                Крим  230.0  206.0  160.0   130    73   126  <NA>  <NA>
1           Вінницька  224.0  192.0  142.0   124    84   112   109    76
2           Волинська  247.0  250.0  179.0   153   112   148   141   101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112   111    71
4            Донецька  271.0  214.0  140.0   109    61    98    82  <NA>
5         Житомирська  261.0  223.0  159.0   129    89   122   120    79
6        Закарпатська  314.0  273.0  207.0   168   115   151   146   104
7          Запорізька  219.0  197.0  150.0   124    71   106   106    68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124   122    88
9            Київська  204.0  189.0  156.0   123    73   122   121    80
10     Кіровоградська  216.0  171.0  145.0   126    79   110   108    68
11          Луганська  262.0  235.0  144.0   116    62    96    51  <NA>
12          Львівська  234.0  240.0  171.0   140    91   119   119    87
13       Миколаївська  211.0  194.0  155.0   137    80   115   112    71
14            Одеська  241.0  192.0  148.0   126    80   127   123    88
15         Полтавська  186.0  163.0  131.0   118    70    99   100    65
16         Рівненська  269.0  267.0  193.0   158   118   159   148   107
17            Сумська  216.0  184.0  132.0   115    70    97    92    60
18      Тернопільська  213.0  216.0  157.0   142    92   113   109    76
19         Харківська  197.0  173.0  140.0   114    68    99   101    68
20         Херсонська  208.0  214.0  166.0   143    85   117   115    81
21        Хмельницька  234.0  198.0  148.0   129    85   113   112    79
22          Черкаська  205.0  179.0  144.0   123    75   100    98    64
23        Чернівецька  247.0  218.0  170.0   148   101   128   129    92
24       Чернігівська  220.0  183.0  127.0   108    69    94    90    61
25               Київ    NaN  174.0  159.0   120    73   120   121   110
26        Севастополь    NaN    NaN    NaN   125    70   120  <NA>  <NA>
27            Україна  228.0  205.0  152.0   126    78   114   111    81

*   Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [85]:
table.dtypes

Регіон     object
1950      float64
1960      float64
1970      float64
1990        int64
2000        int64
2012        int64
2014       object
2019       object
dtype: object

*   Замініть типи нечислових колонок на числові. Підказка - це колонки, де знаходився символ "—"

In [86]:
# for column in table.columns[1:]:
#     table[column] = pd.to_numeric(table[column], errors='coerce')

table.replace(pd.NA, 0, inplace=True)

table

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126    0    0
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82    0
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51    0
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120    0    0
27            Україна  228.0  205.0  152.0   126    78   114  111   81

In [87]:
# # Заміна типів нечислових колонок на числові
# non_numeric_columns = [col for col in table.columns if table[col].dtype == object]
# table[non_numeric_columns] = table[non_numeric_columns].apply(pd.to_numeric, errors='coerce')
# print(table[non_numeric_columns])



*   Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [88]:
table.isnull().sum()

Регіон    0
1950      2
1960      1
1970      1
1990      0
2000      0
2012      0
2014      0
2019      0
dtype: int64



*   Видаліть з таблиці дані по всій країні, останній рядок таблиці

In [89]:
table = table.iloc[:-1]
table

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126    0    0
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82    0
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51    0
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120    0    0



*   Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)

In [90]:
table = table.fillna(table.mean(numeric_only=True))
table

               Регіон    1950        1960   1970  1990  2000  2012 2014 2019
0                Крим  230.00  206.000000  160.0   130    73   126    0    0
1           Вінницька  224.00  192.000000  142.0   124    84   112  109   76
2           Волинська  247.00  250.000000  179.0   153   112   148  141  101
3    Дніпропетровська  204.00  204.000000  151.0   123    71   112  111   71
4            Донецька  271.00  214.000000  140.0   109    61    98   82    0
5         Житомирська  261.00  223.000000  159.0   129    89   122  120   79
6        Закарпатська  314.00  273.000000  207.0   168   115   151  146  104
7          Запорізька  219.00  197.000000  150.0   124    71   106  106   68
8   Івано-Франківська  243.00  248.000000  182.0   155   103   124  122   88
9            Київська  204.00  189.000000  156.0   123    73   122  121   80
10     Кіровоградська  216.00  171.000000  145.0   126    79   110  108   68
11          Луганська  262.00  235.000000  144.0   116    62    96   51    0
12          Львівська  234.00  240.000000  171.0   140    91   119  119   87
13       Миколаївська  211.00  194.000000  155.0   137    80   115  112   71
14            Одеська  241.00  192.000000  148.0   126    80   127  123   88
15         Полтавська  186.00  163.000000  131.0   118    70    99  100   65
16         Рівненська  269.00  267.000000  193.0   158   118   159  148  107
17            Сумська  216.00  184.000000  132.0   115    70    97   92   60
18      Тернопільська  213.00  216.000000  157.0   142    92   113  109   76
19         Харківська  197.00  173.000000  140.0   114    68    99  101   68
20         Херсонська  208.00  214.000000  166.0   143    85   117  115   81
21        Хмельницька  234.00  198.000000  148.0   129    85   113  112   79
22          Черкаська  205.00  179.000000  144.0   123    75   100   98   64
23        Чернівецька  247.00  218.000000  170.0   148   101   128  129   92
24       Чернігівська  220.00  183.000000  127.0   108    69    94   90   61
25               Київ  231.04  174.000000  159.0   120    73   120  121  110
26        Севастополь  231.04  207.576923  156.0   125    70   120    0    0



*   Отримайте список регіонів, де рівень народжуваності у 2019 році був вищим за середній по Україні

In [91]:
if '2019' in table.columns:
    higher_than_avg = table[table['2019'] > table['2019'].mean()]
    if 'Регіон' in higher_than_avg.columns:
        print(higher_than_avg['Регіон'])
    else:
        print("Стовпець 'Регіон' відсутній у вашому датафреймі.")
else:
    print("Стовпець '2019' відсутній у вашому датафреймі.")

TypeError: unsupported operand type(s) for +: 'int' and 'str'



*   У якому регіоні була найвища народжуваність у 2014 році?

In [ ]:
max_birth_2014 = table['Регіон'].iloc[table['2014'].idxmax()]
max_birth_2014



*   Побудуйте стовпчикову діаграму народжуваності по регіонах у 2019 році

In [ ]:
table.plot(x='Регіон', y='2019', kind='bar', legend=False)

діаграму народжуваності по регіонах у 2019 році

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(x='Регіон', y='2019', data=table, hue='Регіон')
plt.title('Народжуваність по регіонах в 2019 році')
plt.xlabel('Регіон')
plt.ylabel('Коефіцієнт народжуваності')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()