<a href="https://colab.research.google.com/github/Kagev/DataScience/blob/main/HW_2/DS_HW_2.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataScience - Homework 2 - part 2

Частина друга: Аналіз файлів

Проведіть аналіз файлу 2017_jun_final.csv. Файл містить результати опитування розробників у червні 2017 року.

In [ ]:
import pandas as pd

In [ ]:
# Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
file_path = '/content/drive/MyDrive/Особисте/Навчання/GoIT/Colab Notebooks/2017_jun_final - 2017_jun_final.csv'
data = pd.read_csv(file_path)

In [ ]:
# Прочитайте отриману таблицю, використовуючи метод head
data_head = data.head()
print(data_head)

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

In [ ]:
# Визначте розмір таблиці за допомогою методу shape
data_shape = data.shape
print(data_shape)

(8704, 25)

In [ ]:
# Визначте типи всіх стовпців за допомогою dataframe.dtypes
data_types = data.dtypes
print(data_types)

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [ ]:
# Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
missing_values = data.isnull().sum() / data.shape[0] * 100
print(missing_values)

N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [ ]:
# Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
# Переглянемо список усіх стовпців, щоб знайти точну назву стовпця


columns_to_del = ['Мова програмування']
data_cleaned = data.dropna(axis=1, how='any').join(data[columns_to_del])

In [ ]:
# Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
missing_values = data.isnull().sum() / data.shape[0] * 100
print(missing_values)

N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [ ]:
# Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
data_cleaned = data_cleaned.dropna()
print(data_cleaned)

         N                    Посада Загальний досвід роботи  \
2        3         Software Engineer                       4
3        4         Software Engineer                       5
4        5  Senior Software Engineer       10 і більше років
6        7  Junior Software Engineer                       1
7        8  Senior Software Engineer                       6
...    ...                       ...                     ...
8692  8693         Software Engineer                       5
8694  8695  Junior Software Engineer                       1
8695  8696         Software Engineer                       1
8701  8702  Junior Software Engineer                       1
8703  8704  Senior Software Engineer                       7

     Досвід роботи на поточному місці  Зарплата на місяць  \
2                                   1                2500
3                                   4                2000
4                                 0.5                4500
6                     менше 3 місяців                 600
7                                   1                3300
...                               ...                 ...
8692                                1                3500
8694                                1                 550
8695                              0.5                1500
8701                              0.5                 800
8703                                2                5000

      Зміна зарплати за 12 місяців         Місто Розмір компанії  \
2                              800          Київ    до 1000 осіб
3                              400         Одеса     до 200 осіб
4                              500          Інше      до 10 осіб
6                              100  Хмельницький      до 50 осіб
7                              500          Київ      до 10 осіб
...                            ...           ...             ...
8692                           650     Віддалено     до 200 осіб
8694                           550        Харків     до 200 осіб
8695                          1000          Київ      до 10 осіб
8701                           500         Львів      до 10 осіб
8703                           800         Одеса    до 1000 осіб

       Тип компанії     Стать  Вік             Освіта  Ще студент  \
2     Аутсорсингова  чоловіча   26               Вища       False
3        Продуктова  чоловіча   30            Середня       False
4        Продуктова  чоловіча   30  Технікум / Коледж       False
6     Аутсорсингова  чоловіча   23               Вища       False
7        Продуктова  чоловіча   28               Вища       False
...             ...       ...  ...                ...         ...
8692  Аутсорсингова    жіноча   28               Вища       False
8694  Аутсорсингова  чоловіча   23               Вища       False
8695        Стартап  чоловіча   29               Вища       False
8701  Аутстафінгова  чоловіча   30       Неповна Вища       False
8703     Продуктова  чоловіча   28               Вища       False

                        Рівень англійської      Дата заповнення  \
2                  Intermediate (середній)  12/06/2017 13:02:47
3       Pre-intermediate (нище середнього)  12/06/2017 13:03:01
4                  Intermediate (середній)  12/06/2017 13:03:47
6       Pre-intermediate (нище середнього)  12/06/2017 13:04:26
7     Upper-Intermediate (вище середнього)  12/06/2017 13:04:27
...                                    ...                  ...
8692               Intermediate (середній)  12/07/2017 13:26:49
8694    Pre-intermediate (нище середнього)  12/07/2017 14:14:33
8695               Intermediate (середній)  12/07/2017 14:39:21
8701  Upper-Intermediate (вище середнього)  12/07/2017 17:32:26
8703  Upper-Intermediate (вище середнього)  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary Мова програмування
2                 1.0    2500            C#/.NET
3                 4.0    2000         JavaScript
4                 0.5    4500         JavaScript
6                 0.0     600            C#/.NET
7                 1.0    3300                C++
...               ...     ...                ...
8692              1.0    3500               Java
8694              1.0     550            C#/.NET
8695              0.5    1500             Python
8701              0.5     800         Ruby/Rails
8703              2.0    5000               Java

[4854 rows x 20 columns]

In [ ]:
# Визначте новий розмір таблиці за допомогою методу shape
new_shape = data_cleaned.shape
print (new_shape)

(4854, 20)

In [ ]:
# Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = data_cleaned[data_cleaned['Мова програмування'] == 'Python']
print(python_data)

         N                    Посада Загальний досвід роботи  \
12      13         Software Engineer                       1
68      69         Software Engineer                     1.5
87      88  Junior Software Engineer                     0.5
114    115  Junior Software Engineer                     1.5
143    144  Junior Software Engineer                       1
...    ...                       ...                     ...
8546  8547         Software Engineer                       5
8625  8626         Software Engineer                       4
8635  8636  Senior Software Engineer       10 і більше років
8673  8674  Junior Software Engineer                     0.5
8695  8696         Software Engineer                       1

     Досвід роботи на поточному місці  Зарплата на місяць  \
12                    менше 3 місяців                 800
68                                0.5                 900
87                                0.5                 600
114                               0.5                 685
143                                 1                 750
...                               ...                 ...
8546                                1                2000
8625                                1                1750
8635                  менше 3 місяців                4000
8673                              0.5                 350
8695                              0.5                1500

      Зміна зарплати за 12 місяців      Місто   Розмір компанії  \
12                             200       Київ        до 50 осіб
68                             900       Київ        до 10 осіб
87                               0       Київ        до 10 осіб
114                            250       Київ      до 1000 осіб
143                            250       Київ        до 10 осіб
...                            ...        ...               ...
8546                           800  Запоріжжя        до 50 осіб
8625                             0       Київ  більше 1000 осіб
8635                          1300  Віддалено        до 10 осіб
8673                            50       Київ        до 50 осіб
8695                          1000       Київ        до 10 осіб

       Тип компанії     Стать  Вік        Освіта  Ще студент  \
12    Аутсорсингова  чоловіча   26          Вища       False
68          Стартап  чоловіча   21  Неповна Вища        True
87    Аутсорсингова  чоловіча   19  Неповна Вища        True
114   Аутсорсингова  чоловіча   21  Неповна Вища       False
143   Аутсорсингова  чоловіча   21  Неповна Вища        True
...             ...       ...  ...           ...         ...
8546  Аутсорсингова  чоловіча   22  Неповна Вища       False
8625  Аутсорсингова  чоловіча   28       Середня       False
8635        Стартап  чоловіча   33          Вища       False
8673  Аутсорсингова  чоловіча   22          Вища       False
8695        Стартап  чоловіча   29          Вища       False

                        Рівень англійської      Дата заповнення  \
12      Pre-intermediate (нище середнього)  12/06/2017 13:05:54
68    Upper-Intermediate (вище середнього)  12/06/2017 13:11:17
87    Upper-Intermediate (вище середнього)  12/06/2017 13:12:25
114                Intermediate (середній)  12/06/2017 13:14:52
143   Upper-Intermediate (вище середнього)  12/06/2017 13:19:10
...                                    ...                  ...
8546               Intermediate (середній)  10/07/2017 14:11:26
8625               Intermediate (середній)  11/07/2017 16:15:40
8635  Upper-Intermediate (вище середнього)  11/07/2017 17:51:36
8673               Intermediate (середній)   12/07/2017 9:37:16
8695               Intermediate (середній)  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary Мова програмування
12                0.0     800             Python
68                0.5     900             Python
87                0.5     600             Python
114               0.5     685             Python
143               1.0     750             Python
...               ...     ...                ...
8546              1.0    2000             Python
8625              1.0    1750             Python
8635              0.0    4000             Python
8673              0.5     350             Python
8695              0.5    1500             Python

[207 rows x 20 columns]

In [ ]:
# Визначте розмір таблиці python_data за допомогою методу shape
data_shape =python_data.shape
print(data_shape)

(207, 20)

In [ ]:
# Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
print(python_data.columns)
grouped_data = python_data.groupby('Посада')['Зарплата на місяць'].mean()
print(grouped_data)

Index(['N', 'Посада', 'Загальний досвід роботи',
       'Досвід роботи на поточному місці', 'Зарплата на місяць',
       'Зміна зарплати за 12 місяців', 'Місто', 'Розмір компанії',
       'Тип компанії', 'Стать', 'Вік', 'Освіта', 'Ще студент',
       'Рівень англійської', 'Дата заповнення', 'User.Agent', 'exp',
       'current_job_exp', 'salary', 'Мова програмування'],
      dtype='object')
Посада
Junior Software Engineer     560.841270
Senior Software Engineer    3387.096774
Software Engineer           1799.070000
System Architect            4000.000000
Technical Lead              3165.909091
Name: Зарплата на місяць, dtype: float64

In [ ]:
# Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
min_and_max_data = python_data.groupby('Посада').agg({'Зарплата на місяць': ['min', 'max']})
min_and_max_data.columns = ['min', 'max']
print(min_and_max_data)

                           min   max
Посада
Junior Software Engineer   100  1250
Senior Software Engineer  1300  9200
Software Engineer          500  5400
System Architect          3000  5000
Technical Lead            1425  6200

In [ ]:
# Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

def fill_avg_salary(row):
    return (row['min'] + row['max']) / 2

min_and_max_data['avg'] = min_and_max_data.apply(fill_avg_salary, axis=1)

In [ ]:
# Створіть описову статистику за допомогою методу describe для нового стовпчика.
print(min_and_max_data['avg'].describe())

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

In [ ]:
# Збережіть отриману таблицю в CSV файл
min_and_max_data.to_csv('/content/drive/MyDrive/Особисте/Навчання/GoIT/Colab Notebooks/finally_data .csv')